<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="icon" href="/assets/checkImg.png?v=1.0" type="image/png">
</head>
<nav>
  <ul>
    <div class="image-container-2"></div>
    <a href="./">Home</a>
    <a href="./taskList">Todas as Listas</a>
    <a href="./newList">Nova Lista</a>
  </ul>
</nav>
<body>
  
  <div class="welcome-container">
    <h1 class="bem-vindo">Bem-Vindo</h1>
    <div class="image-container"></div>
</div>

  <p>Estamos felizes em tê-lo aqui! Este é o seu espaço dedicado para gerenciar suas tarefas de forma simples e eficiente. 
    Com nossa aplicação, você pode criar, visualizar e excluir listas de tarefas facilmente.</p>
  <div class="button-container">
      <form action="/taskList" method="GET">
        <button type="submit" class="task-button">Comece a Gerenciar suas Tarefas</button>
      </form>
    </div>

    <footer class="footer">
      <p>&copy; 2024 Bernardo Eckert Wesoly - PUCRS. Todos os direitos reservados.</p>
      <ul class="footer-links">
        <li><a href="./about">Sobre</a></li>
        <li><a href="./contact">Contato</a></li>
        <li><a href="./privacy">Política de Privacidade</a></li>
      </ul>
    </footer>
  
</body>
</html>
