<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="icon" href="/assets/checkImg.png?v=1.0" type="image/png">
</head>
<nav>
    <ul>
    <div class="image-container-2"></div>
    <a href="./">Home</a>
    <a href="./taskList">Todas as Listas</a>
    <a href="./newList">Nova Lista</a>
    </ul>
</nav>
<body>
    <div class="success-container">
        <h1>A Tarefa foi Criada com Sucesso!</h1>
        <h2>Estamos felizes em informar que sua tarefa foi adicionada à sua lista.</h2>
        <p>Agora você pode visualizar e gerenciar suas tarefas de forma eficiente. Não hesite em adicionar mais itens à sua lista ou editar as tarefas existentes para manter tudo sob controle. Sua produtividade é a nossa prioridade!</p>
        <form action="/taskList" method="get">
            <button type="submit" class="task-button">Ver Listas de Tarefas</button>
        </form>
    </div>

    <footer class="footer">
        <p>&copy; 2024 Bernardo Eckert Wesoly - PUCRS. Todos os direitos reservados.</p>
        <ul class="footer-links">
          <li><a href="./about">Sobre</a></li>
          <li><a href="./contact">Contato</a></li>
          <li><a href="./privacy">Política de Privacidade</a></li>
        </ul>
      </footer>

</body>
</html>
