<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Removido</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="success-message">
    <h1>Email Removido com Sucesso!</h1>
    <p><a href="/emails">Clique aqui para ver todos os e-mails cadastrados</a></p>
    </div>
</body>
</html>