<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucesso!</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="success-message">
        <h1>Seu e-mail foi cadastrado com sucesso!</h1>
        <p><a href="/">Clique aqui para cadastrar mais e-mails</a></p>
        <p><a href="/emails">Ver lista de e-mails cadastrados</a></p>
    </div>
</body>
</html>
